*{
    font-family: 'Dancing Script', cursive;
font-family: 'Merriweather', serif;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
margin:0;
max-width:1240px;
padding:5px;
margin:0 auto;
}

.navbar{
    display:flex;
    flex-direction:row;

    gap:40rem;
    height:80px;
    padding:5px;
    width:95%;
    margin:0 auto;
}
header{
    margin:0 auto;
    width:100%;
    padding:20px;
    min-height:100%;
}
.right-nav{
    
}
.right{
    display:flex;
    flex-direction:row;
    gap:2rem;
}
.menu{
    text-decoration:none;
    color: rgb(255, 84, 0);
font-family: Mulish;
font-size: 18px;
font-weight: 700;

text-align: center;

}
 .raiment{
  min-width:100%;
 
    /* Vector */


min-height:100%;
/* Hero Travel */

width: 200px;
height: 45px;

display: block;
margin: 0 auto;
object-fit:cover;
}
.logo{
    width:20%;
}
/*front header*/
.main-content{


    min-width:1200px;
min-height: 600px;
background-image: url("Images/20181022_100631k.jpg");
background-repeat: no-repeat;
padding:10px;


background-size: auto 100%;
background-repeat: no-repeat;
border-radius:40px;

}
.he{
    font-weight:700;
    font-size:20px;
color:black;
}
.find{
    /* Rectangle 3 */
position: absolute;
width: 200px;
height: 80px;

}
.finds{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:30px;
}
.head{
    color: black;
font-family: Mulish;
font-size: 64px;
font-weight: 800;
line-height: 80px;
letter-spacing: 0%;
text-align: center;
display:flex;
justify-content:center;
align-items:center;
padding:108px 287px 20px 220px;
margin:10px;
}
.descrip{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
font-family: Mulish;
font-size: 16px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
padding:10px;
}
.cloth{
    /* Rectangle 3 */

display:flex;
align-items:center;
justify-content:center;
padding:30px;
}
.find{
    display:flex;
    align-items:center;
    justify-content:center;
}
.main-part{
    display:flex;
    flex-direction: row;
    
}
.first-left{
    max-width:100%;
    max-height:100%;

}
.main-head{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;

    text-align: center;
    /* Our Popular Tours */

width: 355px;
height: 50px;
margin-bottom:10px;
}
.products{
    color: rgba(19, 19, 24, 0.7);
font-family: Mulish;
font-size: 22px;
font-weight: 700;
line-height: 26px;

text-align: left;
padding:40px;
margin-top:100px;
}
.products-des{
    color: rgba(19, 19, 24, 0.7);
font-family: Mulish;
font-size: 22px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
padding:10px;
margin-top:100px;
}
.another{
    color: rgba(19, 19, 24, 0.7);
font-family: Mulish;
font-size: 22px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-top:100px;
}
.read{
    /* Rectangle 3 */
position: absolute;
width: 174px;
height: 52px;
margin-top:140px;
border-radius: 8px;

background: rgb(255, 84, 0);
}
.third-header{
    color: rgb(19, 19, 24);
font-family: Mulish;
font-size: 40px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
/* Choose Your Destination */

width: 478px;
height: 50px;
margin-top:20px;
padding-top:10px;
margin-bottom:30px;

}
.cloths-div{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    margin-top:80px;
    margin:0 auto;
}
.third-main{
    max-width:1200px;
}
.header-fourth{
    color: rgb(19, 19, 24);
font-family: Mulish;
font-size: 40px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
/* Why Choose Us */

width: 307px;
height: 50px;
margin:40px 0px 40px 500px;
}
.unique,.custom,.sustainable{
  width:400px;
  
}
.logo-des{
    color: rgb(19, 19, 24);
font-family: Mulish;
font-size: 24px;
font-weight: 800;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
/* Handpicked Hotels */

width: 221px;
height: 30px;

}
.fourth-contianer{
    display:grid;
    grid-template-columns:repeat(3,1fr);
}



@media screen and (max-width:600px){
.navbar,.logo,.right-nav{
    display:flex;
    flex-direction: column;
}


}